{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="d-flex align-items-center my-4 justify-content-between">
        <h1>Liste des utilisateurs</h1>

        <!-- Formulaire de recherche -->
        <form method="get" class="mb-3 col-lg-4">
            <div class="input-group mt-3">
                <input type="text" name="search" value="{{ search }}" class="form-control col-lg-6" placeholder="Rechercher par nom ou email">
                <button class="btn btn-outline-primary" type="submit">Rechercher</button>
            </div>
        </form>
    </div>

    <!-- Tableau des utilisateurs -->
    <table class="table table-striped">
        <thead class="thead-dark text-center align-middle">
            <tr>
                <th class="py-3">
                    <a href="{{ path('utilisateur.liste', {'sort': 'u.id', 'direction': sortDirection == 'ASC' ? 'DESC' : 'ASC', 'search': search }) }}">
                        ID
                        {% if sortField == 'u.id' %}
                            <i class="fas fa-sort-{{ sortDirection == 'ASC' ? 'up' : 'down' }}"></i>
                        {% endif %}
                    </a>
                </th>
                <th class="py-3 d-none d-md-table-cell">
                    <a href="{{ path('utilisateur.liste', {'sort': 'u.nom', 'direction': sortDirection == 'ASC' ? 'DESC' : 'ASC', 'search': search }) }}">
                        NOM
                        {% if sortField == 'u.nom' %}
                            <i class="fas fa-sort-{{ sortDirection == 'ASC' ? 'up' : 'down' }}"></i>
                        {% endif %}
                    </a>
                </th>
                <th class="py-3">
                    <a href="{{ path('utilisateur.liste', {'sort': 'u.email', 'direction': sortDirection == 'ASC' ? 'DESC' : 'ASC', 'search': search }) }}">
                        EMAIL
                        {% if sortField == 'u.email' %}
                            <i class="fas fa-sort-{{ sortDirection == 'ASC' ? 'up' : 'down' }}"></i>
                        {% endif %}
                    </a>
                </th>
                <th class="py-3">
                    <a href="{{ path('utilisateur.liste', {'sort': 'nombreCommandes', 'direction': sortDirection == 'ASC' ? 'DESC' : 'ASC', 'search': search }) }}">
                        COMMANDE
                        {% if sortField == 'nombreCommandes' %}
                            <i class="fas fa-sort-{{ sortDirection == 'ASC' ? 'up' : 'down' }}"></i>
                        {% endif %}
                    </a>
                </th>
                <th class="py-3"><span class="gold">ACTIONS</span></th>
            </tr>
        </thead>
        <tbody class="text-center align-middle">
            {% for utilisateur in pagination %}
                <tr>
                    <td>{{ utilisateur.id }}</td>
                    <td class="d-none d-md-table-cell">{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>
                        {# Chercher le nombre de commandes de cet utilisateur dans le tableau map #}
                        {% set nombreCommandes = commandesParUtilisateurMap[utilisateur.id] ?? 0 %}
                        {{ nombreCommandes }}
                    </td>
                    <td>
                        <a href="{{ path('profil.modifier', {id: utilisateur.id}) }}" class="btn btn-warning bi bi-pen"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
