<p>Bonjour {{ user.nom }} {{ user.prenom }},</p>
<p>Veuillez confirmer votre email en cliquant sur le lien ci-dessous :</p>
{# <p>Token : {{ token }}</p> #}
<p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">{{ absolute_url(path('verify_user', {token: token})) }}</a></p>
<p>Ce lien expirera dans 3 heures.</p>
<p>Si vous n'avez pas demandé cette confirmation, veuillez ignorer cet email.</p>
<p>Merci de votre confiance.</p>
<!-- End of templates/emails/email_confirmation.html.twig -->