{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}

{# <section id="categorieFilter" class="bg-li my-4 py-3 inner-shadow col-12">
    <div class="col-10 mx-auto">
        <div class="row d-flex justify-content-around align-items-center">
            <!-- Affichage du nombre total de résultats -->
            <div class="count col-3">
                Voir les {{ categories.getTotalItemCount }} résultats
            </div>
            
            <!-- Bouton de filtre avec menu déroulant -->
            <div class="btn-group col-auto">
                <button class="btn btn-sm dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtre
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                    {# <li><a class="dropdown-item" href="{{ path('app_categories', { 'sort': 'alphabetical_asc' }) }}">Alphabétique (A-Z)</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_categories', { 'sort': 'alphabetical_desc' }) }}">Alphabétique (Z-A)</a></li>
                </ul>
            </div>
        </div>
    </div>
</section> #}
    {% if is_granted('ROLE_ADMIN') %}
        <section>
            <a href="{{ path('categorie.nouveau')}}" class="btn btn-info">Nouvelle catégorie</a>
        </section>
    {% endif %}

<section id="categorieList" class="categorie-list col-12 pt-5">
    <div class="container col-10 mx-auto my-4">
        {% for row in categories|slice(0, 6)|batch(2) %}
            <div class="row d-flex justify-content-around">
                {% for categorie in row %}
                    <div class="col-md-6 px-3 py-4">
                        <div class="card shadow rounded-3">
                            <a href="{{ path('sousCategorie', {'slug': categorie.slug}) }}">
                                <img src="{{ categorie.image }}" class="card-img-top rounded-3" alt="{{ categorie.slug }}" loading="lazy">
                            
                                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                    <em class="card-title p-3 fs-3">{{ categorie.libelle }}</em>
                                </div>
                            </a>
                        </div>
                            {# A SUPPRIMER #}
                            <div>
                                <a href="{{ path('categorie.modifier', { id: categorie.id })}}" class="btn btn-info">Modifier</a>
                                <a href="{{ path('categorie.supprimer', { id: categorie.id })}}" class="btn btn-danger">Supprimer</a>
                            </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>

<section id="categoriePagination">
    <div class="d-flex justify-content-center align-items-center py-4">
        <div class="pagination">
            {{ knp_pagination_render(categories) }}
        </div>
    </div>
</section>
{% endblock %}