{% extends 'base.html.twig' %}

{% block title %}Ajouter Catégorie{% endblock %}

{% block body %}
<section>
    <h1>Ajouter une catégorie </h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.libelle) }}
        {{ form_widget(form.libelle) }}
        <div class="form-error">
            {{ form_errors(form.libelle) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.parent) }}
        {{ form_widget(form.parent) }}
        <div class="form-error">
            {{ form_errors(form.parent) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        <div class="form-error">
            {{ form_errors(form.image) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug) }}
        <div class="form-error">
            {{ form_errors(form.slug) }}
        </div>
    </div>

        {{ form_row(form.submit)}}
    {{ form_end(form) }}

</section>
{% endblock %}
