{% extends 'base.html.twig' %}

{% block title %}Historique des commandes{% endblock %}

{% block body %}
<section>
    <h1 class="mt-4">Historique des commandes</h1>

    {% if commandes|length == 0 %}
        <p>Vous n'avez pas encore passé de commande.</p>
    {% else %}
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover text-center align-middle table-light border border-dark rounded shadow-sm my-3">
                <thead>
                    <tr>
                        <th>
                            <a href="{{ path('commande.historique', {'sortBy': 'reference', 'commande': commande == 'ASC' ? 'DESC' : 'ASC'}) }}">
                                Référence
                                {% if sortBy == 'reference' %}
                                    <span class="bi {{ commande == 'ASC' ? 'bi-arrow-down' : 'bi-arrow-up' }}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="{{ path('commande.historique', {'sortBy': 'createdAt', 'commande': commande == 'ASC' ? 'DESC' : 'ASC'}) }}">
                                Date
                                {% if sortBy == 'createdAt' %}
                                    <span class="bi {{ commande == 'ASC' ? 'bi-arrow-down' : 'bi-arrow-up' }}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="{{ path('commande.historique', {'sortBy': 'prixTTC', 'commande': commande == 'ASC' ? 'DESC' : 'ASC'}) }}">
                                Prix
                                {% if sortBy == 'prixTTC' %}
                                    <span class="bi {{ commande == 'ASC' ? 'bi-arrow-down' : 'bi-arrow-up' }}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="{{ path('commande.historique', {'statutCommande': statutCommande == 'ASC' ? 'DESC' : 'ASC'}) }}">
                                Statut
                                {% if statutCommande %}
                                    <span class="bi {{ statutCommande == 'ASC' ? 'bi-arrow-down' : 'bi-arrow-up' }}"></span>
                                {% endif %}
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.reference }}</td>
                            <td>{{ commande.createdAt|date('d/m/Y H:i') }}</td>
                            <td>{{ commande.prixTTC|number_format(2, ',', ' ') }} €</td>
                            <td>{{ commande.status.label }}</td>
                            <td>
                                <a href="{{ path('commande.details', {'id': commande.id}) }}" class="btn btn-sm btn-outline-dark  bi bi-search"></a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div id="commandePagination">
            <div class="d-flex justify-content-center align-items-center ">
                <div class="pagination">
                    {{ knp_pagination_render(commandes) }}
                </div>
            </div>
        </div>
    {% endif %}
</section>
{% endblock %}
